.Results{
    width: 85%;
    

}

.results-button{
    width: 75%;
    height: 150px;
}

.item{
    list-style-type: none;
    width: 90%;
}

li{
    list-style-type: none;
}

.title{
    font-size: 12px;
    margin-right: 10%;
}

a{
    width: 100%;
}

.news-img{
    width: 100px;
    height: 100px;
    float: right;
    display: inline;
}