.topCheatSheets-container{
    width: 100%;
}

.topCheatSheets{
    width: 75%;
    list-style-type: none;
    margin-left: 5%;


}

.topCheatSheets{
    max-width: 45%;
}

.topCheatSheets-List{
    display: flex;
}