.NavBar{
    text-align: center;    
}

.Nav-button{
    margin-left: .5%;
    width: 30%;
    height: 25px;
    font-size: 14px;
    border: 1px solid rgb(190, 189, 189);
    color: black;
    background-color: rgb(226, 226, 223);

    
}

